.main-container{
     width: 100%;
}

#heading{
    color: red;
}
img{
    width:100px;
}
.header-container{
   display: flex;
   justify-content:space-between;
   border: 1px solid grey;
}

.menu-bar > ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.menu-bar > ul >li{
    padding: 10px;
   margin: 10px;
     
}

.filter-btn{
    margin: 20px;
}
.body-container{
    padding: 2px 14px;
   
    display: flex;
    
}
.shimmer-container {    
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{  
    background-color: #f5f5ff;
    margin: 20px;    
  width: 200px;
  height: 400px;
}

.card-item{ 
    padding: 25px;
    margin: 20px;    
    background-color: #f5f5ff;
  transition: 0.2s;
  width: 200px;
  
}

.card-item:hover{
    border: 1px solid #dadada;
  cursor: pointer;
}
.body-container {
    display: flex;
flex-wrap: wrap;
  }
.footer-container{
    height:60px;
    padding: 15px;
    background-color:#c5c5c5;
}
.login{
    cursor: pointer;
    padding: 0 20px;
}